# Byte-compiled / optimized / DLL files
__pycache__/

.idea/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Jupyter Notebook
.ipynb_checkpoints

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
VENV/
env.bak/
venv.bak/
